.formulario__grupo{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formulario__grupo > label {
    color: var(--texto-branco);
    font-size: 24px;
    font-weight: var(--texto-negrito);
}
.formulario__grupo > input {
    background-color: transparent;
    border: #FAFAFA solid 1px;
    border-radius: 8px;
    box-sizing: border-box;
    color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 300;
    height: 48px;
    padding: 4px 16px;
}